.cardProductos{
    text-align: center;
    background-color: rgba(60, 151, 105, 0.3);
    border-radius: 15px; 
    margin-top: 6%;
    padding-top: 2%;
    font-size: 30px;
    width: 20%;
    line-height: 45px;
}
.link{
    text-decoration: none;
    color: black;
    background-color: rgba(51, 127, 89, 0.695);
    font-size: x-large;
    font-weight: 900;
    border-radius: 15px; 
    padding: 3% 8%;
    box-shadow: none;
    cursor: pointer;
}
