.checkout {
    display: block ruby;
}
.checkoutNombre {
    width: 50%;
    margin-left: 30%;
}
.checkoutPrecio { 
    width: 50%;
    margin-left: -30%;
} 
h1 { 
    margin: 30px;
    font-size: 50px;
} 

input { 
    margin: 1% 10%;
    width: 80%;
    height: 40px;
    font-size: 30px;
} 

.buttonFinalizar { 
    margin-left: 70%;
} 

strong { 
    margin: 30px;
    font-size: 50px;
} 
