nav {
    background: transparent;}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Zen Loop';
    font-size: xxx-large;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(178, 230, 220, 0.05) 1%, rgba(178, 230, 220, 0.1) 3%, rgba(178, 230, 220, 0.2) 5%, rgba(178, 230, 220, 0.3) 7%, rgba(178, 230, 220, 0.40098) 11%, rgba(177, 229, 219, 0.504622) 16%, rgba(176, 228, 218, 0.59986) 22%, rgba(174, 227, 216, 0.703501) 29%, rgba(143, 209, 190, 0.804342) 41%, #87ccb7 48%, #7cc5ae 53%, #6bbba0 62%, #5eb395 71%, #4ea988 82%, #2f966e 97%, #108354 100%); }
    header  ul {
        list-style: none;
        display: inline-flex;
        gap: 150px;
        font-size: smaller;
    }
            header  ul li {
            background-color: transparent;
            cursor: pointer;
            }
                header  ul li a {
                    text-decoration: none;
                    color: black;
                }
li:hover {
background-color: rgba(60, 151, 106, 0.589);
border-radius: 5px; }