@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Zen+Loop&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

* {
  font-family: 'Zen Loop', cursive; }

h1 {
  font-family: 'Zen Loop', cursive;
  text-align: center; }